{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Register{% endblock %}

{% block body %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}

    <button class="btn btn-success" type="submit">
        Register me <span class="fas fa-check" aria-hidden="true"></span>
    </button>
    {{ form_end(form) }}
{% endblock %}