{% extends 'base.html.twig' %}

{% block body %}
<section class="jumbotron">
    <h2>Welcome to Snowtricks</h2>
    <p class="lead">We already have {{ nb_items }} trick{% if nb_items > 1 %}s{% endif %}.
        If you think a trick is missing, feel free to add it.</p>
    <a class="btn btn-primary" href="{{ path('trick_index') }}">
        <span class="fas fa-arrow-alt-circle-right"></span> All our tricks
    </a>
    <a class="btn btn-success" href="{{ path('trick_create') }}">
        <span class="fas fa-plus-circle" aria-hidden="true"></span> Add a trick
    </a>
</section>
<section>
    <h2>Most recent tricks</h2>
    {% if items %}
        <ul>
            {% for item in items %}
            <li>
                <a href="{{ path('trick_view', {slug: item.slug}) }}">{{ item.name }}</a>
                 at {{ item.createdAt|date("m/d/Y h:i") }}
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No tricks at all...</p>
    {% endif %}
</section>
{% endblock %}
