{{ form_start(form, {
        method: 'POST',
        action: path('comment_new', {'figureSlug': figure.slug}),
        'attr': {'class': 'form-inline justify-content-center'}
    })
}}

{{ form_errors(form) }}

<div class="form-group">
    {{ form_errors(form.content) }}
    {{ form_widget(form.content, {
        'attr': {'class': 'form-control', 'rows': 1 } }) }}
    {{ form_help(form.content) }}
</div>

<div class="form-group ml-2">
    <button class="btn btn-primary pull-right" type="submit">
        <i class="fa fa-paper-plane" aria-hidden="true"></i> Leave a comment
    </button>
</div>

{{ form_end(form) }}