{% import _self as formMacros %}

{% macro printCollectionImagesWidget(imageField) %}
    <div class="js-collection-fields-item mt-2">
        <button type='button' class='js-remove-collection-field btn btn-danger btn-sm'>
            <span class="fas fa-times"></span>
        </button>
        {{ form_errors(imageField) }}
        {{ form_widget(imageField) }}
        {{ form_help(imageField) }}
    </div>
{% endmacro %}

{% macro printCollectionVideosWidget(videoField) %}
    <div class="js-collection-fields-item mt-2">
        <button type='button' class='js-remove-collection-field btn btn-danger btn-sm'>
            <span class="fas fa-times"></span>
        </button>
        {{ form_errors(videoField) }}
        {{ form_widget(videoField) }}
        {{ form_help(videoField) }}
    </div>
{% endmacro %}

{# https://symfony.com/doc/current/form/form_customization.html #}

{% block h2 %}{% endblock %}

{{ form_start(form) }}
    {% form_theme form 'form/template.html.twig' %}
    {#<div class="debug">
    {% if trick %}
        {% for video in trick.videos %}
        <pre>{{ dump(video.id, video.videoId, video.type) }}</pre>
        {% endfor %}
    {% else %}
        trick is null
    {% endif %}
    </div>#}
    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_errors(form.name) }}
        {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
        {{ form_help(form.name) }}
    </div>
    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_errors(form.description) }}
        {{ form_widget(form.description, {
            'attr': {'class': 'form-control', 'rows': 5} }) }}
    </div>
    <div class="form-group">
        {{ form_label(form.categories) }}
        {{ form_errors(form.categories) }}
        {{ form_widget(form.categories, { 'attr': {'class': 'form-control'} }) }}
        {{ form_help(form.categories) }}
    </div>
    <div class="form-group">
        {{ form_label(form.images, 'Add images') }}
        {{ form_help(form.images) }}
        <div class="js-img-collection-fields-holder"
             data-prototype="{{ formMacros.printCollectionImagesWidget(form.images.vars.prototype.file)|e }}"
             data-index="{{ form.images|length }}">
            {% for imageField in form.images %}
                {{ formMacros.printCollectionImagesWidget(imageField) }}
            {% endfor %}
            <button type="button" class="js-add-another-collection-field btn btn-primary mt-2">
                Add another image
            </button>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.videos, 'Add videos') }}
        {{ form_help(form.videos) }}
        <div class="js-vid-collection-fields-holder"
             data-prototype="{{ formMacros.printCollectionVideosWidget(form.videos.vars.prototype.url)|e }}"
             data-index="{{ form.videos|length }}">
            {% for videoField in form.videos %}
                {{ formMacros.printCollectionVideosWidget(videoField) }}
            {% endfor %}
            <button type="button" class="js-add-another-collection-field btn btn-primary mt-2">
                Add another video
            </button>
        </div>
    </div>
    <button class="btn btn-success" formnovalidate>
        <span class="far fa-save" aria-hidden="true"></span>
         Save the trick
    </button>
{{ form_end(form) }}