{{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.categories) }}
    {{ form_row(form.featuredImage) }}

    <ul id="image-fields-list"
        data-prototype="{{ form_widget(form.images.vars.prototype)|e }}"
        data-widget-tags="{{ '<li></li>'|e }}">
        {% for imageField in form.images %}
            <li>
                {{ form_errors(imageField) }}
                {{ form_widget(imageField) }}
            </li>
        {% endfor %}
    </ul>

    <button type="button"
            class="add-another-collection-widget"
            data-list="#image-fields-list">Add another image</button>

    <ul id="video-fields-list"
        data-prototype="{{ form_widget(form.videos.vars.prototype)|e }}"
        data-widget-tags="{{ '<li></li>'|e }}">
        {% for videoField in form.videos %}
            <li>
                {{ form_errors(videoField) }}
                {{ form_widget(videoField) }}
            </li>
        {% endfor %}
    </ul>

    <button type="button"
            class="add-another-collection-widget"
            data-list="#video-fields-list">Add another video</button>

    {{ form_row(form.save) }}
{{ form_end(form) }}