{% extends 'base.html.twig' %}

{% block body %}

<div class="jumbotron">
    <h2>All our Tricks</h2>
    <p class="lead">We already have {{ nbItems }} trick{% if nbItems > 1 %}s{% endif %}.
        If you think a trick is missing, feel free to add it.</p>
    <a class="btn btn-success" href="{{ path('trick_create') }}">
        <span class="fas fa-plus-circle" aria-hidden="true"></span> Add a trick
    </a>
</div>

{% if figures %}
    {% for row in figures | batch(5) %}
        <div class="row card-deck mb-3">
        {% for figure in row %}
            <div class="card">
                {% if figure.imageFeatured %}
                    <img
                            class="image-card-top w-100"
                            src="{{ figure.imageFeatured.webPath }}"
                            alt="{{ figure.imageFeatured.alt }}"
                    >
                {% endif %}
                <div class="card-body">
                    <a href="{{ path('trick_view', {slug: figure.slug}) }}">{{ figure.name }}</a>
                </div>
                <div class="card-footer">
                    <p class="trick-tag text-muted mb-0">
                        <span class="fas fa-tag" aria-hidden="true"></span>
                        {% for category in figure.categories %}
                            {{ category.name }}
                        {% endfor %}
                    </p>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a class="btn btn-warning btn-sm" href="{{ path('trick_edit', {id: figure.id}) }}">
                            <span class="far fa-edit" aria-hidden="true"></span> Edit</a>
                        {{ include('figures/delete.html.twig', {figure: figure}, with_context = false) }}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        </div>
    {% endfor %}
    <nav aria-label="Figures pagination">
        <ul class="pagination justify-content-center">
            {% for p in range(1, nbPages) %}
                <li{% if p == page %} class="page-item"{% endif %}>
                    <a class="page-link" href="{{ path('trick_index', {'page': p}) }}">{{ p }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% else %}
    <p>No Tricks yet</p>
{% endif %}

{% endblock %}