{% extends 'base.html.twig' %}

{% block body %}


<div class="jumbotron">
    <h2>All our Figures</h2>
    <p class="lead">We already have {{ nbItems }} figure{% if nbItems > 1 %}s{% endif %}.
        If you think a figure is missing, feel free to add it.</p>
    <a class="btn btn-success" href="{{ path('add_figure') }}">Add a figure</a>
</div>

    {% if figures %}
        <ul class="list-group">
        {% for figure in figures %}
            <li class="list-group-item">
                <a href="{{ path('view_figure', {slug: figure.slug}) }}">{{ figure.name }}</a>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a class="btn btn-warning btn-sm" href="{{ path('edit_figure', {id: figure.id}) }}">Edit</a>
                    {{ include('figures/delete.html.twig', {figure: figure}, with_context = false) }}
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No figures yet</p>
    {% endif %}

{% endblock %}