{% extends 'base.html.twig' %}

{% block body %}

    <h2>{{ figure.name }}</h2>
    <p>{{ figure.description }}</p>

    <ul class="nav">
        <li class="nav-item">
            <a class="btn btn-primary btn-sm" href="{{ path('index_figure') }}">Back</a>
        </li>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <li class="nav-item">
            <a class="btn btn-warning btn-sm" href="{{ path('edit_figure', {id: figure.id}) }}">Edit</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-danger btn-sm" href="{{ path('delete_figure', {id: figure.id}) }}">Delete</a>
        </li>
        {% endif %}
    </ul>

{% endblock %}

