{% extends 'base.html.twig' %}

{% block body %}

    <section class="mb-3">
        <ul class="nav">
            <li class="nav-item mx-1">
                <a class="btn btn-primary btn-sm" href="{{ path('index_figure') }}">
                    <span class="fas fa-arrow-left" aria-hidden="true"></span> Back to tricks list</a>
            </li>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item mx-1">
                    <a class="btn btn-warning btn-sm" href="{{ path('edit_figure', {id: figure.id}) }}">
                        <span class="far fa-edit" aria-hidden="true"></span> Edit</a>
                </li>
                <li class="nav-item mx-1">
                    {{ include('figures/delete.html.twig', {figure: figure}, with_context = false) }}
                </li>
            {% endif %}
        </ul>
        {% if figure.featuredImage %}
            <img src="{{ asset('uploads/images/' ~ figure.featuredImage) }}" alt="Image of {{ figure.name }}">
        {% endif %}
        <h2>{{ figure.name }}</h2>
        {% if figure.images %}
            {% for row in figure.images | batch(5) %}
            <div class="row card-deck mb-3">
                {% for image in row %}
                    <div class="card">
                        <img
                                class="w-100"
                                src="{{ asset(image.getWebPath()) }}"
                                alt="{{ image.name }}"
                        >
                    </div>
                {% endfor %}
            </div>
            {% else %}
                <p class="mb-3">No images yet</p>
            {% endfor %}
        {% endif %}
        {% if figure.videos %}
            {% for row in figure.videos | batch(3) %}
                <div class="row card-deck mb-3">
                    {% for video in row %}
                        <div class="card">
                            {{ video.generateVideo|raw }}
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p class="mb-3">No videos yet</p>
            {% endfor %}
        {% endif %}
        <p>{{ figure.description }}</p>
        <ul class="list-inline list-unstyled">
            {% for category in figure.categories %}
                <li class="list-inline-item bg-secondary text-white rounded px-3 py-2">
                    <span class="fas fa-tag" aria-hidden="true"></span>
                     {{ category.name }}
                </li>
            {% endfor %}
        </ul>
    </section>
    <section class="mb-3">
        <div class="mb-4">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% set id = figure.id %}
                {{ render(controller('App\\Controller\\FigController::commentForm', {id: id})) }}
            {% else %}
                <p>You must be logged in to post a comment</p>
            {% endif %}
        </div>
        <div class="w-75 mx-auto">
            {% for comment in figure.comments %}
            <div class="row mb-3">
                <div class="col-sm-4">
                    <small class="text-muted">#{{ comment.id }}</small>
                    {{ comment.author.username }}
                    <small class="text-muted"><i>{{ comment.createdAt | date("m/d/Y h:i:s") }}</i></small>

                </div>
                <div class="col-sm-8">
                    {{ comment.content }}
                </div>
            </div>
            {% else %}
            <p class="mb-3">No comments yet</p>
        </div>
        {% endfor %}
    </section>

{% endblock %}

