{% import _self as formMacros %}

{% macro printCollectionImagesWidget(imageField, image) %}
    <div class="js-collection-fields-item mt-2">
        <button type='button' class='js-remove-collection-field btn btn-danger btn-sm'>
            <span class="fas fa-times"></span>
        </button>
        {% if image %}
            <div style="height: 60px;" class="d-inline-block mb-2 ml-3">
                <img class="mh-100" src="{{ image.getWebPath }}" alt="{{ image.alt }}">
            </div>
        {% endif %}
        {{ form_widget(imageField, {'attr': {'class': 'd-inline-block ml-3'}}) }}
        {{ form_errors(imageField) }}
        {{ form_help(imageField) }}
    </div>
{% endmacro %}

{% macro printCollectionVideosWidget(videoField, video) %}
    <div class="js-collection-fields-item mt-2">
        <button type='button' class='js-remove-collection-field btn btn-danger btn-sm'>
            <span class="fas fa-times"></span>
        </button>
        {% if video %}
            <div style="width: 200px;" class="d-inline-block align-middle ml-3">
                {{ video.generateVideo|raw }}
            </div>
        {% endif %}
        {{ form_widget(videoField, {'attr': {'class': 'd-inline-block ml-3'}}) }}
        {{ form_errors(videoField) }}
        {{ form_help(videoField) }}
    </div>
{% endmacro %}

{# https://symfony.com/doc/current/form/form_customization.html #}

{% block h2 %}{% endblock %}

{{ form_start(form) }}
    {% form_theme form 'form/template.html.twig' %}
    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_errors(form.name) }}
        {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
        {{ form_help(form.name) }}
    </div>
    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_errors(form.description) }}
        {{ form_widget(form.description, {
            'attr': {'class': 'form-control', 'rows': 5} }) }}
    </div>
    <div class="form-group">
        {{ form_label(form.categories) }}
        {{ form_errors(form.categories) }}
        {{ form_widget(form.categories, { 'attr': {'class': 'form-control'} }) }}
        {{ form_help(form.categories) }}
    </div>
    <div class="form-group">
        {{ form_label(form.imageFeatured) }}
        {% if trick.imageFeatured is defined %}
        <div style="height: 60px;" class="mb-4">
            <img class="mh-100" src="{{ trick.imageFeatured.getWebPath }}" alt="{{ trick.imageFeatured.alt }}">
        </div>
        {% endif %}
        {{ form_errors(form.imageFeatured) }}
        {{ form_widget(form.imageFeatured) }}
        {{ form_help(form.imageFeatured) }}
    </div>
    <div class="form-group">
        {{ form_label(form.images, 'Add images') }}
        {{ form_help(form.images) }}
        <div class="js-img-collection-fields-holder"
             data-prototype="{{ formMacros.printCollectionImagesWidget(form.images.vars.prototype.file)|e }}"
             data-index="{{ form.images|length }}">
            {% for imageField in form.images %}
                {% if trick.images[loop.index0] is defined %}
                    {{ formMacros.printCollectionImagesWidget(imageField, trick.images[loop.index0]) }}
                {% else %}
                    {{ formMacros.printCollectionImagesWidget(imageField, null) }}
                {% endif %}
            {% endfor %}
            <button type="button" class="js-add-another-collection-field btn btn-primary mt-2">
                Add another image
            </button>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.videos, 'Add videos') }}
        {{ form_help(form.videos) }}
        <div class="js-vid-collection-fields-holder"
             data-prototype="{{ formMacros.printCollectionVideosWidget(form.videos.vars.prototype.rawUrl)|e }}"
             data-index="{{ form.videos|length }}">
            {% for videoField in form.videos %}
                {% if trick.videos[loop.index0] is defined %}
                    {{ formMacros.printCollectionVideosWidget(videoField, trick.videos[loop.index0]) }}
                {% else %}
                    {{ formMacros.printCollectionVideosWidget(videoField, null) }}
                {% endif %}
            {% endfor %}
            <button type="button" class="js-add-another-collection-field btn btn-primary mt-2">
                Add another video
            </button>
        </div>
    </div>
    <button class="btn btn-success" formnovalidate>
        <span class="far fa-save" aria-hidden="true"></span>
         Save the trick
    </button>
{{ form_end(form) }}