{% extends 'base.html.twig' %}

{% block body %}
    <section class="jumbotron mt-3">
        <h2>All our tricks</h2>
        <p class="lead">We already have {{ nbItems }} trick{% if nbItems > 1 %}s{% endif %} on {{ nbPages }}
            page{% if nbPages > 1 %}s{% endif %}.
            If you think a trick is missing, feel free to add it.</p>
        <a class="btn btn-secondary" href="{{ path('contact') }}">
            <span class="fas fa-paper-plane"></span> Contact us
        </a>
        <a class="btn btn-secondary" href="{{ path('trick_create') }}">
            <span class="fas fa-plus-circle" aria-hidden="true"></span> Add a trick
        </a>
    </section>
{% if tricks %}
    {% for row in tricks | batch(5) %}
        <div class="row card-deck mb-3 mt-3">
        {% for trick in row %}
            <div class="card">
                {% if trick.imageFeatured %}
                    <img
                            src="{{ trick.imageFeatured.webPath }}"
                            alt="{{ trick.imageFeatured.alt }}"
                            class="image-card-top w-100"
                    >
                {% else %}
                    <img
                            src="{{ asset('uploads/default/default-image-featured.png') }}"
                            alt="default-image-featured"
                            class="image-card-top w-100"
                    >
                {% endif %}
                <div class="card-body">
                    <a href="{{ path('trick_view', {slug: trick.slug}) }}">{{ trick.name }}</a>
                </div>
                <div class="card-footer">
                    <p class="trick-tag text-muted mb-0">
                        {% for category in trick.categories %}
                            {{ category.name }}
                        {% endfor %}
                    </p>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a class="btn btn-warning btn-sm" href="{{ path('trick_edit', {id: trick.id}) }}" title="Edit">
                            <span class="far fa-edit" aria-hidden="true"></span>
                        </a>
                        {{ include('trick/delete.html.twig', {trick: trick}, with_context = false) }}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        </div>
    {% endfor %}
    <nav aria-label="Figures pagination">
        <ul class="pagination justify-content-center">
            {% for p in range(1, nbPages) %}
                <li{% if p == page %} class="page-item"{% endif %}>
                    <a class="page-link" href="{{ path('trick_index', {'page': p}) }}">{{ p }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% else %}
    <p>No Tricks yet</p>
{% endif %}

{% endblock %}