{% extends 'base.html.twig' %}

{% block article %}
<article>
    <header class="trick-header" style="background-image:
        {% if trick.imageFeatured %}url('{{ trick.imageFeatured.webPath }}');
        {% else %}url('{{ asset('uploads/default/default-image-featured.png') }}');
        {% endif %}
    ">
        <ul class="nav trick-navigation">
            <li class="nav-item">
                <a class="btn btn-secondary btn-sm" href="{{ path('trick_index') }}" title="Back to tricks list">
                    <span class="fas fa-arrow-left" aria-hidden="true"></span>
                </a>
            </li>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item mx-1">
                    <a class="btn btn-warning btn-sm" href="{{ path('trick_edit', {id: trick.id}) }}" title="Edit">
                        <span class="far fa-edit" aria-hidden="true"></span>
                    </a>
                </li>
                <li class="nav-item">
                    {{ include('trick/delete.html.twig', {trick: trick}, with_context = false) }}
                </li>
            {% endif %}
        </ul>
        <div class="trick-header-content">
            <h2 class="text-center">{{ trick.name }}</h2>
        </div>
    </header>
    <div class="trick-metadata ">
        <ul class="list-inline list-unstyled text-center py-2 m-0">
            {% for category in trick.categories %}
                <li class="list-inline-item">
                    {{ category.name }}
                </li>
            {% endfor %}
        </ul>
        <p class="text-center text-muted font-italic py-2 m-0">
        {% if trick.updatedAt %}
            Trick edited the {{ trick.updatedAt|date("m/d/Y \\a\\t H:i") }}
        {% else %}
            Trick published the {{ trick.createdAt|date("m/d/Y \\a\\t H:i") }}
        {% endif %}
         by {{ trick.author.username }}
        </p>
    </div>
    <p class="px-4">{{ trick.description }}</p>
    <footer class="trick-footer">
        <ul class="list-inline list-unstyled text-muted px-4">
            {% if trick.updatedAt %}
                <li class="list-inline-item">
                    <span class="far fa-clock" aria-hidden="true"></span>
                     Trick originally published the {{ trick.createdAt|date("m/d/Y \\a\\t H:i") }}
                </li>
            {% endif %}
            <li class="list-inline-item">
                <span class="far fa-comment" aria-hidden="true"></span>
                 {{ trick.comments.count }} comments
            </li>
            <li class="list-inline-item">
                <span class="far fa-file-image" aria-hidden="true"></span>
                {{ trick.images.count }} images
            </li>
            <li class="list-inline-item">
                <span class="far fa-file-video" aria-hidden="true"></span>
                {{ trick.videos.count }} videos
            </li>
        </ul>
    </footer>
    <section class="trick-medias px-4">
        {% if trick.images.count > 0 or trick.videos.count > 0 %}
            <button
                    class="btn btn-primary"
                    data-toggle="collapse"
                    data-target="#collapse-media"
            >Show medias</button>
            <div id="collapse-media" class="collapse">
                {% for row in trick.images | batch(5) %}
                    <div class="card-columns">
                        {% for image in row %}
                            <div class="card">
                                <img
                                        class="w-100"
                                        src="{{ asset(image.getWebPath()) }}"
                                        alt="{{ image.alt }}"
                                >
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
                {% for row in trick.videos | batch(5) %}
                    <div class="card-columns">
                        {% for video in row %}
                            <div class="card">
                                {{ video.generateVideo|raw }}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </section>
    <section class="trick-comments px-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">Comments</h5>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% set id = trick.id %}
                    {{ render(controller(
                        'App\\Controller\\CommentsController\\CreateCommentsController::renderCommentsForm',
                        {id: id}))
                    }}
                {% else %}
                    <p class="text-center">You must be logged in to post a comment</p>
                {% endif %}
            </div>
        </div>
        {% if comments is not empty %}
            <div class="mx-auto mt-3 comments-container container">
                {% include "trick/_comment_view.html.twig" %}
            </div>
            {% if total_comments > length %}
                <button class="btn btn-primary js-load-more"
                        data-url="{{ path('comments_load_more', {id: trick.id}) }}"
                        data-offset="{{ length }}"
                        data-length="{{ length }}"
                        data-total="{{ total_comments }}">Load more comments
                </button>
            {% endif %}
        {% else %}
            <p class="text-center mt-3">No comments yet :(</p>
        {% endif %}
    </section>
</article>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/load-more.js') }}"></script>
{% endblock %}