{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Login{% endblock %}

{% block body %}
<section class="snowtrick-form">
    <h2 class="mt-3">Login</h2>
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <form action="{{ path('user_login') }}" method="post">
        <div class="form-group">
            <label for="username">Username:</label>
            <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" />
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input class="form-control" type="password" id="password" name="_password" />
        </div>
        <div class="form-group">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
        <p><a href="{{ path('user_forgot_password') }}">I have forgot my password</a></p>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button class="btn btn-primary" type="submit">
            <span class="fas fa-user-check" aria-hidden="true"></span> Login
        </button>
    </form>

    <h2 class="mt-3">You don't have an account yet?</h2>
    <p>Let's <a href="{{ path('user_register') }}">create one!</a></p>
</section>
{% endblock %}