{% extends 'base.html.twig' %}

{% block title %}Hello {{ user.username }}{% endblock %}

{% block body %}
<section class="user-profile mt-3">
    <div class="float-right avatar">
        {% if user.avatar is null %}
            <img src="{{ asset('uploads/avatars/default_avatar.png') }}"
                 alt="default_avatar"
                 class="img-thumbnail"
            >
        {% else %}
            <img src="{{ asset(user.avatar) }}">
        {% endif %}
    </div>
    <div>
        <h2>Hello {{ user.username }} !</h2>
        <ul class="list-unstyled">
            <li>Your Email: {{ user.email }}</li>
            <li>Tricks posted: {{ user.tricks.count }}</li>
            <li>Comments posted: {{ user.comments.count }}</li>
        </ul>
    </div>
</section>
<section class="mb-2">
    {% set id = user.id %}
    <h4>Actions</h4>
    <h5>Change your password</h5>
    {{ render(controller(
        'App\\UI\\Controller\\UsersController\\ChangePasswordController::renderForm',
        {id: id}))
    }}
    <h5>Change your avatar</h5>
    {{ render(controller(
        'App\\UI\\Controller\\UsersController\\ChangeAvatarController::renderForm',
        {id: id}))
    }}
</section>
{% endblock body %}
